html {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    box-sizing: border-box;
    width: 1440px;
    height: 900px;
}
.container {

    border-radius: 10px;
    width: 40%;
    height: fit-content;
    margin: 20px;
    color: hsl(218, 22%, 67%);
    background-color: white;
    position: relative;
    padding: 15px;
    left: 20%;
}

#box-up > h3 {
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    line-height: 3rem;
}
#box-up > h4 {
    color: hsl(71,73%,54%);
    font-weight: 700;
    line-height: 0px;
}

#box-left, #box-right{
    color:white;
    display: inline-block;
    width: 50%;
    height: 55%;
    position: absolute;
    bottom: 0;
}
#box-left{
    background-color: hsl(179, 55%, 43%);
    border-color: hsl(179, 55%, 43%);
    right: 50%;
    border-bottom-left-radius: 10px;
}
.box-left-content{
    padding-left: 40px;
}
#box-right {
    background-color: hsl(179, 72%, 43%);
    border-color:  hsl(179, 72%, 43%);
    left: 50%;
    border-bottom-right-radius: 10px;
}
#box-right > p {
    font-size: 0.8rem;
    line-height: 0.6em;
    opacity: 0.7;
}
 #price {
    font-weight: 700;
    font-size: 1.5em;
    opacity: 1;
}
#box-right > p, #box-right > h5 {
    padding-left: 30px;
}
button {
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 6px;
    width: 80%;
    height: 2.7rem;
    background-color: hsl(71, 73%, 54%);
    color:inherit;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 3%;
    top:15px;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#box-up {
    position:relative;
    display: inline-block;
    z-index: 1;
    margin-bottom: 250px;
    padding-left: 20px;
    
}
#month {
    opacity: 0.5;
    padding-left: 2%;
}
h5 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 0.4em;
    margin-bottom: 10%;

}
